@charset "UTF-8";

/* YouTube
------------------------------*/
.video_list {
	@media (min-width: #{$breakpoint}) {
	}
}

.video_item {
	@media (min-width: #{$breakpoint}) {
	}
}

// padding-topの値で比率をコントロール
// 4:3 -> 3 / 4 * 100 = 75
// 16:9 -> 9 / 16 * 100 = 56.25
.video_wrap {
	position: relative;
	width: 100%;
	// @include video_wrap();
	@media (min-width: #{$breakpoint}) {
		// padding-top: calc(56.25% / 2);
		// width: 50%;
	}
	&::before {
		content: '';
		display: block;
		padding-top: 56.25%;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// @include video();
		@media (min-width: #{$breakpoint}) {
		}
	}
}


/* Googlemap
------------------------------*/
.googlemap {
	@media (min-width: #{$breakpoint}) {
	}
	iframe {
		@media (min-width: #{$breakpoint}) {
		}
	}
}
