@charset "UTF-8";

.media_block {
	@media (min-width: #{$breakpoint}) {
		@include flex();
	}
	&.reverse {
		@media (min-width: #{$breakpoint}) {
			flex-direction: row-reverse;
		}
	}
	// &::after {
	// 	@media (min-width: #{$breakpoint}) {
	// 		width: 24%;
	// 		display: block;
	// 		content: '';
	// 	}
	// }
}

.media_image {
	text-align: center;
	@media (min-width: #{$breakpoint}) {
	}
	img {
		@media (min-width: #{$breakpoint}) {
			width: auto;
			max-height: 100%;
		}
	}
}

.media_body {
	@media (min-width: #{$breakpoint}) {
		flex: 1 1 0%
	}
}

.media_inline {
	@include flex_inline();
	@media (min-width: #{$breakpoint}) {
	}
}
