@charset "UTF-8";

/* YouTube
------------------------------*/
.video_list {
	@media (min-width: #{$BREAKPOINT}) {
	}
}

.video_item {
	@media (min-width: #{$BREAKPOINT}) {
	}
}

.video_wrap {
	// @include video_wrap();
	@media (min-width: #{$BREAKPOINT}) {
		// padding-top: calc(56.25% / 2);
		// width: 50%;
	}
	iframe {
		// @include video();
		@media (min-width: #{$BREAKPOINT}) {
		}
	}
}


/* Googlemap
------------------------------*/
.googlemap {
	@media (min-width: #{$BREAKPOINT}) {
	}
	iframe {
		@media (min-width: #{$BREAKPOINT}) {
		}
	}
}
