@charset "UTF-8";

.entry_header {
	@media (min-width: #{$breakpoint}) {
	}
}

.entry_title {
	@media (min-width: #{$breakpoint}) {
	}
}

.entry_meta {
	@media (min-width: #{$breakpoint}) {
	}
}

.entry_date {
	@media (min-width: #{$breakpoint}) {
	}
}

.entry_category {
	@media (min-width: #{$breakpoint}) {
	}
}

.entry_image {
	@media (min-width: #{$breakpoint}) {
	}
}

.entry_img {
	@media (min-width: #{$breakpoint}) {
	}
}

.entry_caption {
	@media (min-width: #{$breakpoint}) {
	}
}

.entry_footer {
	@media (min-width: #{$breakpoint}) {
	}
}


/*----- entry content -----*/
.entry_content {
	@media (min-width: #{$breakpoint}) {
	}

	/* headline */
	h1 {
		@media (min-width: #{$breakpoint}) {
		}
	}
	h2 {
		@media (min-width: #{$breakpoint}) {
		}
	}
	h3 {
		@media (min-width: #{$breakpoint}) {
		}
	}
	h4 {
		@media (min-width: #{$breakpoint}) {
		}
	}
	h5 {
		@media (min-width: #{$breakpoint}) {
		}
	}
	h6 {
		@media (min-width: #{$breakpoint}) {
		}
	}

	/* image */
	img {
		@media (min-width: #{$breakpoint}) {
		}
	}

	/* text */
	p {
		@media (min-width: #{$breakpoint}) {
		}
	}

	/* list */
	ol {
		padding-left: 1em;
		list-style: decimal;
		@media (min-width: #{$breakpoint}) {
		}
		li {
			@media (min-width: #{$breakpoint}) {
			}
		}
	}
	ul {
		padding-left: 1em;
		list-style: disc;
		@media (min-width: #{$breakpoint}) {
		}
		li {
			@media (min-width: #{$breakpoint}) {
			}
			ul {
				list-style: circle;
			}
		}
	}

	/* link */
	a {
		@media (min-width: #{$breakpoint}) {
		}
		&:hover {
			@media (min-width: #{$breakpoint}) {
			}
		}
	}

	/* table */
	table {
		@media (min-width: #{$breakpoint}) {
		}
		th {
			@media (min-width: #{$breakpoint}) {
			}
		}
		td {
			@media (min-width: #{$breakpoint}) {
			}
		}
	}
}


/*---- page navi -----*/
.page-numbers {
	margin-top: 20px;
	@media (min-width: #{$breakpoint}) {
	}
	li {
		display: inline-block;
	}
	span,
	a {
		display: block;
		margin: 4px;
		padding: 8px 10px;
		background: #FFA74D;
		border: 1px solid #FFA74D;
		color: #fff;
		font-size: 1.4rem;
		line-height: 1;
		text-decoration: none;
		@media (min-width: #{$breakpoint}) {
		}
		&.current,
		&:hover {
			color: #FFA74D;
			background: #fff;
			border-color: #FFA74D;
			@media (min-width: #{$breakpoint}) {
			}
		}
	}
}
