@charset "UTF-8";

/*---- post_pager -----*/
.post_pager {
	@media (min-width: #{$breakpoint}) {
	}
}

.post_navi {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	@media (min-width: #{$breakpoint}) {
	}
}

.post_navi_item {
	position: relative;
	@media (min-width: #{$breakpoint}) {
	}

	&.-prev {
		@media (min-width: #{$breakpoint}) {
		}
	}

	&.-next {
		@media (min-width: #{$breakpoint}) {
		}
	}

	&.-nolink {
		@media (min-width: #{$breakpoint}) {
		}
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: 4px;
		width: 100px;
		height: 30px;
		border: 1px solid #fa3;
		color: #fa3;
		line-height: 1;
		text-decoration: none;
		transition: all .3s;
		@media (min-width: #{$breakpoint}) {
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			width: 14px;
			height: 14px;
			background-color: #fa3;
			border-radius: 50%;
			transform: translateY(-50%);
			transition: all .3s;
			@media (min-width: #{$breakpoint}) {
			}
		}
		&:hover {
			@media (min-width: #{$breakpoint}) {
				background-color: #fa3;
				color: #FFF;
			}
			&:before {
				@media (min-width: #{$breakpoint}) {
					background-color: #FFF;
				}
			}
		}
	}

}

.post_navi_back {
	@extend .post_navi_item;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-top: 0;
	width: 100px;
	transform: translateX(-50%);
	@media (min-width: #{$breakpoint}) {
	}
	a {
		margin-left: auto;
		margin-right: auto;
		background: #fa3;
		color: #FFF;
		@media (min-width: #{$breakpoint}) {
		}
		&:before {
			display: none;
			@media (min-width: #{$breakpoint}) {
			}
		}
		&:hover {
			@media (min-width: #{$breakpoint}) {
				background-color: #FFF;
				color: #fa3;
			}
		}
	}
}
