@charset "UTF-8";

/* chat
------------------------------*/
.chat_block {
	// position: fixed;
	// right: 0;
	// bottom: 0;
	// padding: 10px;
	// width: 200px;
	// height: 50px;
	// background: #039;
	// border-radius: 10px 10px 0 0;
	@media (min-width: #{$BREAKPOINT}) {
	}
}
.chat_toggle {
	// position: absolute;
	// top: 5px;
	// right: 10px;
	// width: 30px;
	// height: 30px;
	// border: 1px solid #FFF;
	// color: #FFF;
	@media (min-width: #{$BREAKPOINT}) {
	}
	&::before,
	&::after {
		// display: block;
		// position: absolute;
		// z-index: 2;
		// top: 50%;
		// left: 50%;
		// background-color: #FFF;
		// border-radius: 6px;
		// content: '';
		// transform: translate(-50%,-50%);
		// transition: all ease 0.2s;
	}
	&::before {
		// width: 12px;
		// height: 3px;
	}
	&::after {
		// width: 3px;
		// height: 12px;
	}
	&:hover {
		// cursor: pointer;
	}
}
.chat_inner {
	@media (min-width: #{$BREAKPOINT}) {
	}
}
.chat_title {
	@media (min-width: #{$BREAKPOINT}) {
	}
}
