@charset "UTF-8";

/* page_head
------------------------------*/
.page_head {
	background-color: #eee;
	@media (min-width: #{$breakpoint}) {
	}
}

.page_head__inner {
	@media (min-width: #{$breakpoint}) {
		@include content_inner();
	}
	$setBG: about, contact;
	@each $i in $setBG {
		&.-page_#{$i} {
			background-image: url($img_dir + '/#{$i}/#{$i}_head_sp.jpg');
			@media (min-width: #{$breakpoint}) {
				background-image: url($img_dir + '/#{$i}/#{$i}_head_pc.jpg');
			}
		}
	}
}

.page_headline {
	@media (min-width: #{$breakpoint}) {
	}
}

.page_headline_sub {
	@media (min-width: #{$breakpoint}) {
	}
}
