@charset "UTF-8";

/* page_head
------------------------------*/
.page_head {
	@media (min-width: #{$breakpoint}) {
	}

	$setBG: about, contact, news;
	@each $i in $setBG {
		&.-page_#{$i} {
			background-image: url($img_dir + '/#{$i}/#{$i}_head_sp.jpg');
			@media (min-width: #{$breakpoint}) {
				background-image: url($img_dir + '/#{$i}/#{$i}_head_pc.jpg');
			}
		}
	}
}

.page_headline {
	@media (min-width: #{$breakpoint}) {
	}
}
