@charset "UTF-8";

/* single_page_headline
------------------------------*/
.single_page_headline {
	@media (min-width: #{$breakpoint}) {
	}
}



/* primary_headline
------------------------------*/
.primary_headline {
	@media (min-width: #{$breakpoint}) {
	}
}



/* secondary_headline
------------------------------*/
.secondary_headline {
	@media (min-width: #{$breakpoint}) {
	}
}



/* basic_headline
------------------------------*/
.basic_headline {
	@media (min-width: #{$breakpoint}) {
	}
}



/* normally_headline
------------------------------*/
.normally_headline {
	@media (min-width: #{$breakpoint}) {
	}
}



/* sction_headline
------------------------------*/
.sction_headline {
	@media (min-width: #{$breakpoint}) {
	}
}



/* big_headline
------------------------------*/
.big_headline {
	@media (min-width: #{$breakpoint}) {
	}
}



/* small_headline
------------------------------*/
.small_headline {
	@media (min-width: #{$breakpoint}) {
	}
}
