@charset "UTF-8";

*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
	font-size: 1em;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	line-height: 1.15;
	text-size-adjust: 100%;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

main {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

input,
select,
textarea {
	font-size: 1.6rem;
}

input :not([type="radio"]):not([type="check"]):not([type="range"]),
select,
textarea,
button {
	appearance: none;
}

[type="checkbox"] {
	-webkit-appearance: checkbox;
	appearance: checkbox;
}

[type="radio"] {
	-webkit-appearance: radio;
	appearance: radio;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance:textfield;
}

textarea {
	overflow-y: hidden;
}

select::-ms-expand {
	display: none;
}

button,
select {
	text-transform: none;
}

button,
input {
	overflow: visible;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: 0;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

label,
label[for],
input[type="button"],
input[type="reset"],
input[type="submit"],
select,
button {
	cursor: pointer;
}
