@charset "UTF-8";

// content_inner
//--------------------------------
@mixin content_inner() {
	margin-left: auto;
	margin-right: auto;
	max-width: $CONTENT_WIDTH;
}

// flex
//--------------------------------
@mixin flex() {
	display: flex;
	justify-content: space-between;
}

@mixin flex_wrap() {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@mixin flex_wrap_start() {
	display: flex;
	flex-wrap: wrap;
}

@mixin flex_inline() {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

@mixin flex_width($totalMargin:0, $totalColumn:1,) {
	width: calc((100% - #{$totalMargin}) / #{$totalColumn});
}


// button
//--------------------------------
@mixin button($bgColor:#ddd, $fontColor:#333, $fontSize:1.2rem) {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	background-color: $bgColor;
	border-radius: 8px;
	color: $fontColor;
	font-size: $fontSize;
	text-decoration: none;
	text-align: center;
}


// video
//--------------------------------
@mixin video_wrap() {
	position: relative;
	padding-top: 56.25%;
	width: 100%;
}
@mixin video() {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


// content center
//------------------------------
@mixin content_center() {
	margin-left: auto;
	margin-right: auto;
	width: $CONTENT_WIDTH;
}


// position center
//------------------------------
@mixin position_center() {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

@mixin center_center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

// top center
@mixin top_center() {
	top: 50%;
	transform: translateY(-50%);
}

// left center
@mixin left_center() {
	left: 50%;
	transform: translateX(-50%);
}


// element
//------------------------------
@mixin element() {
	display: block;
	position: absolute;
	content: '';
}

@mixin element_size($width,$height) {
	width: $width + px;
	height: $height + px;
}

@mixin element_half_size($width,$height) {
	$width: $width / 2;
	$height: $height / 2;
	width: $width + px;
	height: $height + px;
}


// background size
//------------------------------
@mixin bg_size($bgWidth,$bgHeight) {
	background-size: $bgWidth + px $bgHeight + px;
}

@mixin bg_half_size($bgWidth,$bgHeight) {
	$bgWidth: $bgWidth / 2;
	$bgHeight: $bgHeight / 2;
	background-size: $bgWidth + px $bgHeight + px;
}


// triangle
//------------------------------
// top
@mixin triangle_top($bottom,$left,$right,$color) {
	border-left: $left + px solid transparent;
	border-bottom: $bottom + px solid $color;
	border-right: $right + px solid transparent;
}

// left
@mixin triangle_left($right,$top,$bottom,$color) {
	border-top: $top + px solid transparent;
	border-right: $right + px solid $color;
	border-bottom: $bottom + px solid transparent;
}

// right
@mixin triangle_right($left,$top,$bottom,$color) {
	border-top: $top + px solid transparent;
	border-left: $left + px solid $color;
	border-bottom: $bottom + px solid transparent;
}

// bottom
@mixin triangle_bottom($top,$left,$right,$color) {
	border-left: $left + px solid transparent;
	border-top: $top + px solid $color;
	border-right: $right + px solid transparent;
}


// arrow
//------------------------------
@mixin arrow($width,$height,$borderWidth,$borderColor,$deg:0) {
	width: $width + px;
	height: $height + px;
	border-top: $borderWidth + px solid $borderColor;
	border-right: $borderWidth + px solid $borderColor;
	transform: rotate($deg + deg);
}


// indent
//------------------------------
@mixin indent01() {
	margin-left: 1em;
	text-indent: -1em;
}
@mixin indent02() {
	margin-left: 2em;
	text-indent: -2em;
}
@mixin indent03() {
	margin-left: 3em;
	text-indent: -3em;
}


// br
//------------------------------
@mixin br_before() {
	content: "\A" ;
	white-space: pre ;
	font-family: "serif";
}


// text color
//------------------------------
@mixin color_required() {
	color: red;
}
@mixin color_success() {
	color: green;
}
@mixin color_attention() {
}
@mixin color_danger() {
}
@mixin color_strong01() {
}
@mixin color_strong02() {
}


// font size
//------------------------------
@mixin size_small() {
	font-size: 0.5em;
}
@mixin size_large() {
	font-size: 1.5em;
}
@mixin extra_large() {
	font-size: 2em;
}


// emphasis
//------------------------------
@mixin bold() {
	font-weight: bold;
}
@mixin em() {
	font-weight: bold;
}


// marker
//------------------------------
@mixin marker_text() {
	position: relative;
	background: linear-gradient(transparent 60%, #faefac 60%);
}

