@charset "UTF-8";

// clearfix
//--------------------------------
@mixin clearfix() {
	display: block;
	clear: both;
	content: "";
}


// container
//--------------------------------
@mixin wide_inner() {
	margin-left: auto;
	margin-right: auto;
	max-width: $wide_width;
}


// content_inner
//--------------------------------
@mixin content_inner() {
	margin-left: auto;
	margin-right: auto;
	max-width: $content_width;
}


// flex
//--------------------------------
@mixin flex() {
	display: flex;
	justify-content: space-between;
}

@mixin flex_wrap_start() {
	display: flex;
	flex-wrap: wrap;
}

@mixin flex_wrap() {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@mixin flex_wrap_center() {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@mixin flex_center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex_direction() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin flex_inline() {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

@mixin flex_width($totalMargin:0, $totalColumn:1) {
	width: calc((100% - #{$totalMargin}) / #{$totalColumn});
}


// position center
//------------------------------
@mixin position_center() {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

// center
@mixin xy_center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

// top center
@mixin y_center() {
	top: 50%;
	transform: translateY(-50%);
}

// left center
@mixin x_center() {
	left: 50%;
	transform: translateX(-50%);
}
