@charset "UTF-8";

// clearfix
//--------------------------------
@mixin clearfix() {
	display: block;
	clear: both;
	content: "";
}


// container
//--------------------------------
@mixin wide_inner() {
	margin-left: auto;
	margin-right: auto;
	max-width: $wide_width;
}


// content_inner
//--------------------------------
@mixin content_inner() {
	margin-left: auto;
	margin-right: auto;
	max-width: $content_width;
}


// section content
//--------------------------------
@mixin area() {
	margin-top: 80px;
	margin-bottom: 80px;
	@media (min-width: #{$breakpoint}) {
	}
	&:first-of-type {
		margin-top: 0;
		@media (min-width: #{$breakpoint}) {
		}
	}
	&:last-of-type {
		margin-bottom: 0;
		@media (min-width: #{$breakpoint}) {
		}
	}
}

@mixin section() {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	@media (min-width: #{$breakpoint}) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&:first-of-type {
		margin-top: 20px;
		@media (min-width: #{$breakpoint}) {
		}
	}
	&:last-of-type {
		@media (min-width: #{$breakpoint}) {
		}
	}
}

@mixin content() {
	padding-left: 10px;
	padding-right: 10px;
	@media (min-width: #{$breakpoint}) {
		padding-left: 0;
		padding-right: 0;
	}
}


// flex
//--------------------------------
@mixin flex() {
	display: flex;
	justify-content: space-between;
	// img {
	// 	@media (min-width: #{$breakpoint}) {
	// 		width: auto;
	// 		max-height: 100%;
	// 	}
	// }
}

@mixin flex_wrap_start() {
	display: flex;
	flex-wrap: wrap;
}

@mixin flex_wrap() {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@mixin flex_wrap_center() {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@mixin flex_center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex_direction() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin flex_inline() {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

@mixin flex_width($totalMargin:0, $totalColumn:1) {
	width: calc((100% - #{$totalMargin}) / #{$totalColumn});
}


// position center
//------------------------------
@mixin position_center() {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

// center
@mixin xy_center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

// top center
@mixin y_center() {
	top: 50%;
	transform: translateY(-50%);
}

// left center
@mixin x_center() {
	left: 50%;
	transform: translateX(-50%);
}
