@charset "UTF-8";
/*======================================
Reset
======================================*/
*,
::before,
::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-repeat: no-repeat;
	font-size: 1em;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	        text-size-adjust: 100%;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

main {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

input,
select,
textarea {
	font-size: 1.6rem;
}

input :not([type="radio"]):not([type="check"]):not([type="range"]),
select,
textarea,
button {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

[type="checkbox"] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	     appearance: checkbox;
}

[type="radio"] {
	-webkit-appearance: radio;
	-moz-appearance: radio;
	     appearance: radio;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

textarea {
	overflow-y: hidden;
}

select::-ms-expand {
	display: none;
}

button,
select {
	text-transform: none;
}

button,
input {
	overflow: visible;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

label,
label[for],
input[type="button"],
input[type="reset"],
input[type="submit"],
select,
button {
	cursor: pointer;
}

/*======================================
Settings
======================================*/
/*======================================
Layout
======================================*/
/* PC Only, SP Only
------------------------------*/
@media (min-width: 768px) {
	.sp_only {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.pc_only {
		display: none !important;
	}
}

/* Clearfix
------------------------------*/
.clearfix:after {
	display: block;
	clear: both;
	content: "";
}

/* Body
------------------------------*/
body {
	background-color: #aaa;
}

body.-menu_open {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}

a {
	color: #3af;
}

.site_content {
	padding-top: 50px;
}

@media (min-width: 768px) {
	.site_content {
		padding-top: 0;
	}
}

.site_container {
	padding: 20px 0;
	background-color: #ccc;
}

@media (min-width: 768px) {
	.site_container {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
	}
}

@media (min-width: 768px) {
	.site_container.-row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

@media (min-width: 768px) {
	.site_container.-row .site_main {
		width: calc(100% - 300px);
	}
}

@media (min-width: 768px) {
	.site_container.-row .sidebar {
		width: 300px;
	}
}

.site_main {
	background-color: #FFF;
	color: #333;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}

@media (min-width: 768px) {
	.site_main {
		font-size: 1.6rem;
	}
}

.site_main h1, .site_main h2, .site_main h3, .site_main h4, .site_main h5, .site_main h6 {
	margin-bottom: 10px;
	line-height: 1.15;
}

.sidebar {
	background-color: #eee;
}

/*======================================
Header
======================================*/
/* site_header
------------------------------*/
.site_header {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	background-color: #ddd;
	font-size: 1.6rem;
}

@media (min-width: 768px) {
	.site_header {
		font-size: 1.6rem;
	}
}

@media (min-width: 768px) {
	.site_header {
		position: static;
	}
}

.site_header__inner {
	padding: 10px;
	height: 50px;
	background-color: #FFF;
}

@media (min-width: 768px) {
	.site_header__inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding-left: 0;
		padding-right: 0;
		height: auto;
	}
}

/* site_branding
------------------------------*/
.site_description {
	display: none;
}

@media (min-width: 768px) {
	.site_description {
		display: block;
	}
}

/* site_info
------------------------------*/
.site_info {
	display: none;
}

@media (min-width: 768px) {
	.site_info {
		display: block;
	}
}

.site_info__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*======================================
Menu
======================================*/
/* menu_bg
------------------------------*/
.menu_bg {
	display: none;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.5);
}

/* menu_button
------------------------------*/
.menu_button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: fixed;
	z-index: 300;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background-color: #3af;
}

.menu_button__inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.menu_button__bar {
	display: block;
	margin-top: 5px;
	width: 24px;
	height: 2px;
	background: #FFF;
	border-radius: 20px;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform-origin: 0 0;
	        transform-origin: 0 0;
}

.menu_button__bar:first-child {
	margin-top: 14px;
}

.menu_button__text {
	margin-top: 5px;
	color: #FFF;
	font-size: 1rem;
	-webkit-transition: all .3s;
	transition: all .3s;
}

body.-menu_open .menu_button__bar.-top {
	width: 30px;
	-webkit-transform: translate(6px, 3px) rotate(45deg);
	        transform: translate(6px, 3px) rotate(45deg);
}

body.-menu_open .menu_button__bar.-middle {
	opacity: 0;
}

body.-menu_open .menu_button__bar.-bottom {
	width: 30px;
	-webkit-transform: translate(5px, 10px) rotate(-45deg);
	        transform: translate(5px, 10px) rotate(-45deg);
}

body.-menu_open .menu_button__text {
	opacity: 0;
}

/*======================================
Navigation
======================================*/
/* site_nav
------------------------------*/
.site_nav {
	overflow-y: scroll;
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	background-color: #fa0;
	opacity: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
	pointer-events: none;
}

@media (min-width: 768px) {
	.site_nav {
		overflow-y: visible;
		position: static;
		background-color: #ddd;
		width: auto;
		height: auto;
		opacity: 1;
		pointer-events: all;
	}
}

.site_nav ol, .site_nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

body.-menu_open .site_nav {
	z-index: 200;
	opacity: 1;
	pointer-events: all;
}

.site_nav__inner {
	padding: 10px;
}

@media (min-width: 768px) {
	.site_nav__inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding: 0;
		background-color: #eee;
	}
}

@media (min-width: 768px) {
	.site_nav__list {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

.site_nav__item {
	margin-top: 10px;
}

@media (min-width: 768px) {
	.site_nav__item {
		margin-top: 0;
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		-webkit-transition: all .3s;
		transition: all .3s;
	}
}

@media (min-width: 768px) {
	.site_nav__item:first-child {
		margin-top: 0;
	}
}

@media (min-width: 768px) {
	.site_nav__item.-current, .site_nav__item:hover {
		background-color: #3af;
	}
}

.site_nav__link {
	font-size: 1.6rem;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
}

@media (min-width: 768px) {
	.site_nav__link {
		font-size: 1.6rem;
	}
}

@media (min-width: 768px) {
	.site_nav__link {
		display: block;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.site_nav__item.-current .site_nav__link,
	.site_nav__item:hover .site_nav__link {
		color: #FFF;
	}
}

@media (min-width: 768px) {
	.site_nav__sub_list {
		display: none;
	}
}

.site_nav__sub_link {
	display: inline-block;
	padding: 10px;
	font-size: 1.6rem;
	text-decoration: none;
}

@media (min-width: 768px) {
	.site_nav__sub_link {
		font-size: 1.6rem;
	}
}

/*======================================
Breadcrumb
======================================*/
/* breadcrumb
------------------------------*/
.bread {
	background-color: #ddd;
}

.bread__inner {
	padding: 10px;
	background-color: #FFF;
}

@media (min-width: 768px) {
	.bread__inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding-left: 0;
		padding-right: 0;
	}
}

.bread__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bread__item {
	display: inline-block;
}

.bread__link,
.bread__text {
	font-size: 1.6rem;
}

@media (min-width: 768px) {
	.bread__link,
	.bread__text {
		font-size: 1.6rem;
	}
}

/*======================================
Main
======================================*/
/* Main
------------------------------*/
.site_main.-page_sample {
	background-image: url("/assets/img/100x100.png");
	background-position: right top;
}

/* wide_inner
------------------------------*/
@media (min-width: 768px) {
	.wide_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 1280px;
	}
}

/* content_inner
------------------------------*/
@media (min-width: 768px) {
	.content_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
	}
}

/* area section content
------------------------------*/
.area {
	margin-top: 80px;
	margin-bottom: 80px;
}

.area:first-of-type {
	margin-top: 0;
}

.area:last-of-type {
	margin-bottom: 0;
}

.section {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-width: 768px) {
	.section {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.section:first-of-type {
	margin-top: 20px;
}

.content {
	padding-left: 10px;
	padding-right: 10px;
}

@media (min-width: 768px) {
	.content {
		padding-left: 0;
		padding-right: 0;
	}
}

/*======================================
Sidebar
======================================*/
/* sidebar
------------------------------*/
@media (min-width: 768px) {
	.sidebar {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
	}
}

.sidebar__inner {
	padding: 10px;
}

@media (min-width: 768px) {
	.sidebar__inner {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.sidebar__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar__item a {
	display: inline-block;
	font-size: 1.6rem;
}

@media (min-width: 768px) {
	.sidebar__item a {
		font-size: 1.6rem;
	}
}

/*======================================
Footer
======================================*/
/* site_footer
------------------------------*/
.site_footer {
	background-color: #ddd;
}

.site_footer__inner {
	padding: 10px;
	background-color: #FFF;
}

@media (min-width: 768px) {
	.site_footer__inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding-left: 0;
		padding-right: 0;
	}
}

/* footer_nav
------------------------------*/
.footer_nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_nav__link {
	display: inline-block;
	font-size: 1.6rem;
}

@media (min-width: 768px) {
	.footer_nav__link {
		font-size: 1.6rem;
	}
}

/* Copyright
------------------------------*/
.copyright {
	display: block;
	padding: 10px 0;
	font-size: 1rem;
}

/*======================================
Quick Access
======================================*/
/* quick_access
------------------------------*/
/*======================================
Page Top
======================================*/
/* pagetop
------------------------------*/
.pagetop_wrap {
	position: fixed;
	right: 0;
	bottom: 0;
}

#pagetop {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #fa3;
	-webkit-transition: all .3s;
	transition: all .3s;
}

@media (min-width: 768px) {
	#pagetop:hover {
		opacity: .8;
	}
}

/*======================================
Key Visual
======================================*/
.keyvisual {
	text-align: center;
}

/*======================================
Background
======================================*/
/* bg
------------------------------*/
.bg_sample {
	background-image: url("/assets/img/100x100.png");
	background-position: right top;
}

/*======================================
Lead
======================================*/
/* lead
------------------------------*/
.lead {
	margin-top: 80px;
	margin-bottom: 80px;
	margin-top: 0;
}

.lead:first-of-type {
	margin-top: 0;
}

.lead:last-of-type {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.lead {
		margin-top: 0;
	}
}

.lead__section {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-width: 768px) {
	.lead__section {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.lead__section:first-of-type {
	margin-top: 20px;
}

/*======================================
Table
======================================*/
.table_wrap {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	-webkit-box-shadow: 4px 0 30px 0 rgba(140, 176, 188, 0.5);
	        box-shadow: 4px 0 30px 0 rgba(140, 176, 188, 0.5);
}

.table {
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.table th {
	border: 1px solid #ddd;
}

.table td {
	border: 1px solid #ddd;
}

.table__thead__th {
	text-align: left;
	vertical-align: top;
}

.table__tbody__th {
	text-align: left;
	vertical-align: top;
}

/*======================================
Flexible Table
======================================*/
@media (min-width: 768px) {
	.flexible_table__row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.flexible_table__head {
	background-color: #eee;
	padding: 5px;
}

.flexible_table__body {
	margin: 0;
	padding: 5px;
}

@media (min-width: 768px) {
	.flexible_table__body {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		border-bottom: 1px solid #eee;
	}
}

.flexible_table {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	-webkit-box-shadow: 4px 0 30px 0 rgba(140, 176, 188, 0.5);
	        box-shadow: 4px 0 30px 0 rgba(140, 176, 188, 0.5);
}

.flexible_table__row {
	margin: 10px 0 0;
}

.flexible_table__row:first-of-type {
	margin-top: 0;
}

/*======================================
Form
======================================*/
/* form base
------------------------------*/
input[type="text"],
input[type="search"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
select,
textarea {
	padding: 5px;
	border: 1px solid #9FA0A0;
}

/* form_required
------------------------------*/
.form_required {
	color: #F00;
}

/* form_group_container
------------------------------*/
/* form_group
------------------------------*/
@media (min-width: 768px) {
	.form_group fieldset {
		display: contents;
	}
}

/* form_control
------------------------------*/
/* form_control_textarea
------------------------------*/
/* form_control_select
------------------------------*/
.form_control_select_wrap {
	display: inline-block;
	position: relative;
	z-index: 1;
	background: transparent;
}

.form_control_select_wrap::after {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	width: 10px;
	height: 10px;
	background-color: #fa3;
	border-radius: 50%;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.form_control_select {
	padding-right: 1em;
	background: transparent;
}

/* form_control_radio
------------------------------*/
.form_control_radio .wpcf7-list-item {
	margin-left: 2em;
}

.form_control_radio .wpcf7-list-item:first-child {
	margin-left: 0;
}

.form_control_radio_item > label > input[type="radio"],
.wpcf7-list-item > label > input[type="radio"] {
	display: none;
}

.form_control_radio_item > label > input[type="radio"] + .form_control_radio_text,
.wpcf7-list-item > label > input[type="radio"] + .wpcf7-list-item-label {
	display: inline-block;
	position: relative;
	padding-left: 2em;
}

.form_control_radio_item > label > input[type="radio"] + .form_control_radio_text::before,
.wpcf7-list-item > label > input[type="radio"] + .wpcf7-list-item-label::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #CCC;
	border-radius: 50%;
}

.form_control_radio_item > label > input[type="radio"]:checked + .form_control_radio_text::after,
.wpcf7-list-item > label > input[type="radio"]:checked + .wpcf7-list-item-label::after {
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	background-color: #fa3;
	border-radius: 50%;
}

/* form_control_check
------------------------------*/
.form_control_check .wpcf7-list-item {
	margin-left: 2em;
}

.form_control_check .wpcf7-list-item:first-child {
	margin-left: 0;
}

.form_control_check_item > label > input[type="checkbox"],
.wpcf7-list-item > label > input[type="checkbox"] {
	display: none;
}

.form_control_check_item > label > input[type="checkbox"] + .form_control_check_text,
.wpcf7-list-item > label > input[type="checkbox"] + .wpcf7-list-item-label {
	display: inline-block;
	position: relative;
	padding-left: 2em;
}

.form_control_check_item > label > input[type="checkbox"] + .form_control_check_text::before,
.wpcf7-list-item > label > input[type="checkbox"] + .wpcf7-list-item-label::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #CCC;
}

.form_control_check_item > label > input[type="checkbox"]:checked + .form_control_check_text::after,
.wpcf7-list-item > label > input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
	content: "";
	display: block;
	position: absolute;
	top: -7px;
	left: 7px;
	width: 10px;
	height: 20px;
	-webkit-transform: rotate(40deg);
	        transform: rotate(40deg);
	border-bottom: 2px solid #fa3;
	border-right: 2px solid #fa3;
}

/* search
------------------------------*/
/* date
------------------------------*/
/* range
------------------------------*/
/* file
------------------------------*/
/* image submit
------------------------------*/
/* wpcf7-form
------------------------------*/
/* err message
------------------------------*/
/*======================================
Heading
======================================*/
/* headling base
------------------------------*/
h1 {
	font-size: 3.6rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 2.4rem;
}

h4, h5, h6 {
	font-size: 2rem;
}

/* page_head
------------------------------*/
.page_head {
	background-color: #eee;
}

@media (min-width: 768px) {
	.page_head__inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
	}
}

.page_head__inner.-page_about {
	background-image: url("/assets/img/about/about_head_sp.jpg");
}

@media (min-width: 768px) {
	.page_head__inner.-page_about {
		background-image: url("/assets/img/about/about_head_pc.jpg");
	}
}

.page_head__inner.-page_contact {
	background-image: url("/assets/img/contact/contact_head_sp.jpg");
}

@media (min-width: 768px) {
	.page_head__inner.-page_contact {
		background-image: url("/assets/img/contact/contact_head_pc.jpg");
	}
}

/* single_page_headline
------------------------------*/
.single_page_headline, .entry__title {
	color: #f3a;
	font-size: 5rem;
}

/* primary_headline
------------------------------*/
.primary_headline {
	position: relative;
	color: #3fa;
	font-size: 3.6rem;
}

.primary_headline:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #3fa;
}

/* secondary_headline
------------------------------*/
.secondary_headline {
	font-size: 2.8rem;
}

/* basic_headline
------------------------------*/
.basic_headline {
	font-size: 2.4rem;
}

/* normally_headline
------------------------------*/
.normally_headline {
	font-size: 2.4rem;
}

/* sction_headline
------------------------------*/
.sction_headline {
	font-size: 2rem;
}

/* big_headline
------------------------------*/
.big_headline {
	font-size: 3.6rem;
}

/* small_headline
------------------------------*/
.small_headline {
	font-size: 2rem;
}

/*======================================
Icon
======================================*/
/* icon
------------------------------*/
/* icon_arrow
------------------------------*/
.icon_arrow {
	display: inline-block;
	position: relative;
}

.icon_arrow::before, .icon_arrow::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: -5px;
	width: 8px;
	height: 2px;
	background: #000;
	border-radius: 4px;
	-webkit-transform-origin: left top;
	        transform-origin: left top;
}

.icon_arrow::before {
	-webkit-transform: rotate(-140deg);
	        transform: rotate(-140deg);
}

.icon_arrow::after {
	-webkit-transform: rotate(-220deg);
	        transform: rotate(-220deg);
}

.icon_arrow.-circle {
	padding: 5px;
	width: 15px;
	height: 15px;
	background: #f3f;
	border-radius: 50%;
}

.icon_arrow.-circle::before, .icon_arrow.-circle::after {
	background: #FFF;
}

/* badge
------------------------------*/
/*======================================
List
======================================*/
/* list
------------------------------*/
.list_link {
	display: inline-block;
}

/*======================================
Button
======================================*/
/* button
------------------------------*/
.button_wrap + .button_wrap {
	margin-left: 10px;
}

.button {
	display: inline-block;
	position: relative;
	padding: 10px 20px;
	background-color: #fa3;
	border-radius: 8px;
	color: #FFF;
	font-size: 1.4rem;
	line-height: 1;
	vertical-align: baseline;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 10px;
	height: 10px;
	background-color: #FFF;
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.button.-primary {
	background-color: #af3;
}

.button.-secondary {
	background-color: #3af;
}

@media (min-width: 768px) {
	.button:hover {
		opacity: .8;
	}
}

/* back_button
------------------------------*/
/*======================================
Media
======================================*/
@media (min-width: 768px) {
	.media_container .media:nth-child(2n) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: row-reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
	}
}

@media (min-width: 768px) {
	.media {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

.media__image {
	text-align: center;
}

@media (min-width: 768px) {
	.media__image {
		margin: 0;
		max-width: 250px;
	}
}

@media (min-width: 768px) {
	.media__image img {
		width: auto;
		max-height: 200px;
	}
}

@media (min-width: 768px) {
	.media__image + .media__body {
		padding: 0 20px;
	}
}

@media (min-width: 768px) {
	.media__body {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 0%;
		    -ms-flex: 1 1 0%;
		        flex: 1 1 0%;
	}
}

.media__title {
	padding-left: 10px;
	padding-right: 10px;
}

.media__content {
	padding-left: 30px;
}

.media__inline {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/*======================================
Card
======================================*/
.card {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (min-width: 768px) {
	.card {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
}

.card__item {
	margin-top: 30px;
	-webkit-box-shadow: 4px 0 30px 0 rgba(140, 176, 188, 0.5);
	        box-shadow: 4px 0 30px 0 rgba(140, 176, 188, 0.5);
}

@media (min-width: 768px) {
	.card__item {
		margin-top: 0;
		width: 49%;
	}
}

.card__item:first-child {
	margin-top: 0;
}

.card__link {
	display: block;
	color: #333;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

@media (min-width: 768px) {
	.card__link:hover {
		opacity: .8;
	}
}

.card__head {
	display: block;
}

.card__date {
	display: block;
}

.card__image {
	display: block;
	text-align: center;
}

@media (min-width: 768px) {
	.card__image img {
		width: auto;
		max-height: 200px;
	}
}

.card__body {
	display: block;
}

.card__title {
	display: block;
	font-weight: bold;
}

.card__content {
	display: block;
}

/*======================================
Box
======================================*/
/*======================================
iframe
======================================*/
/* YouTube
------------------------------*/
.video_wrap {
	position: relative;
	width: 100%;
}

.video_wrap::before {
	content: '';
	display: block;
	padding-top: 56.25%;
}

.video_wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Googlemap
------------------------------*/
/*======================================
Modal
======================================*/
/*======================================
Modal
======================================*/
.accordion {
	overflow: hidden;
}

.accordion__switch {
	display: none;
}

.accordion__label {
	display: block;
	position: relative;
}

.accordion__icon {
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 24px;
	height: 24px;
	border: 3px solid #014590;
	border-radius: 4px;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.accordion__icon::before, .accordion__icon::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #014590;
	border-radius: 6px;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transition: all .3s;
	transition: all .3s;
}

.accordion__icon::before {
	width: 12px;
	height: 3px;
}

.accordion__icon::after {
	width: 3px;
	height: 12px;
}

.accordion__body {
	padding: 10px;
	background-color: #ccc;
}

.accordion__switch:checked + .accordion__label > .accordion__icon::after {
	opacity: 0;
}

/*======================================
WordPress Post Entry
======================================*/
/*----- entry content -----*/
.entry__content {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	/* headline */
	/* image */
	/* text */
	/* list */
	/* link */
	/* table */
}

@media (min-width: 768px) {
	.entry__content {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.entry__content:first-of-type {
	margin-top: 20px;
}

/*======================================
WordPress Archives Pager
======================================*/
/*---- archive pager -----*/
ul.page-numbers {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.page-numbers .page-numbers {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	margin: 4px;
	width: 30px;
	height: 30px;
	border: 1px solid #fa3;
	color: #fa3;
	line-height: 1;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

ul.page-numbers .page-numbers.current, ul.page-numbers .page-numbers.dots, ul.page-numbers .page-numbers:hover {
	color: #FFF;
	background-color: #fa3;
	border-color: #fa3;
}

ul.page-numbers .page-numbers.current::before, ul.page-numbers .page-numbers.dots::before, ul.page-numbers .page-numbers:hover::before {
	background-color: #FFF;
}

ul.page-numbers a.prev,
ul.page-numbers a.next {
	position: absolute;
	width: 100px;
}

ul.page-numbers a.prev::before,
ul.page-numbers a.next::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 14px;
	height: 14px;
	background-color: #fa3;
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all .3s;
	transition: all .3s;
}

ul.page-numbers a.prev {
	left: 10px;
}

ul.page-numbers a.next {
	right: 10px;
}

/*======================================
WordPress Post Pager
======================================*/
/*---- post_pager -----*/
.post_navi {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.post_navi_item, .post_navi_back {
	position: relative;
}

.post_navi_item a, .post_navi_back a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	margin: 4px;
	width: 100px;
	height: 30px;
	border: 1px solid #fa3;
	color: #fa3;
	line-height: 1;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.post_navi_item a::before, .post_navi_back a::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 14px;
	height: 14px;
	background-color: #fa3;
	border-radius: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all .3s;
	transition: all .3s;
}

@media (min-width: 768px) {
	.post_navi_item a:hover, .post_navi_back a:hover {
		background-color: #fa3;
		color: #FFF;
	}
}

@media (min-width: 768px) {
	.post_navi_item a:hover:before, .post_navi_back a:hover:before {
		background-color: #FFF;
	}
}

.post_navi_back {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-top: 0;
	width: 100px;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.post_navi_back a {
	margin-left: auto;
	margin-right: auto;
	background: #fa3;
	color: #FFF;
}

.post_navi_back a:before {
	display: none;
}

@media (min-width: 768px) {
	.post_navi_back a:hover {
		background-color: #FFF;
		color: #fa3;
	}
}

/*======================================
Others
======================================*/
/* chat
------------------------------*/
/*======================================
Slider
======================================*/
/*======================================
Scrollbar
======================================*/
/* Scrollbar
------------------------------*/
/* Animation
------------------------------*/
/*======================================
Pages
======================================*/
/* home
------------------------------*/
/* about
------------------------------*/
/* contact
------------------------------*/
/*# sourceMappingURL=sourcemaps/style.css.map */
