@charset "UTF-8";
/*======================================
Reset
======================================*/
*,
::before,
::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
}

html {
	font-size: 62.5%;
}

body {
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust: none;
	    -ms-text-size-adjust: none;
	        text-size-adjust: none;
	color: #333;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

main {
	display: block;
}

p {
	font-size: 1.6rem;
	line-height: 1.5;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

ol,
ul {
	list-style: none;
}

a {
	color: #3af;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

input,
textarea {
	font-size: 1.6rem;
}

input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="submit"],
input[type="reset"],
input[type="button"],
textarea,
select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	cursor: pointer;
}

/*======================================
Clearfix
======================================*/
.clearfix:after {
	display: block;
	clear: both;
	content: "";
}

/*======================================
Layout
======================================*/
/* Body
------------------------------*/
@media (min-width: 768px) {
	.site-content {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
	}
}

/* Only PC, Only SP
------------------------------*/
@media (max-width: 767px) {
	.only_pc {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.only_sp {
		display: none !important;
	}
}

/* Utility
------------------------------*/
.mt0 {
	margin-top: 0 !important;
}

.ml0 {
	margin-left: 0 !important;
}

.mr0 {
	margin-right: 0 !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.pt0 {
	padding-top: 0 !important;
}

.pl0 {
	padding-left: 0 !important;
}

.pr0 {
	padding-right: 0 !important;
}

.pb0 {
	padding-bottom: 0 !important;
}

/*======================================
Header
======================================*/
@media (min-width: 768px) {
	.site-header_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
	}
}

/*======================================
Menu
======================================*/
.menu_bg {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, 0.5);
}

/* menu button
------------------------------*/
.l_menu_button {
	position: fixed;
	z-index: 200;
	top: 15px;
	right: 15px;
	-webkit-transition: all .2s;
	transition: all .2s;
	-webkit-transform-origin: 0 0;
	        transform-origin: 0 0;
}

.l_menu_button_wrapper {
	width: 20px;
	height: 18px;
}

.l_menu_button_wrapper .button_bar {
	display: block;
	margin-bottom: 5px;
	width: 20px;
	height: 1px;
	background: #FFF;
	-webkit-transition: all .2s;
	transition: all .2s;
	-webkit-transform-origin: 0 0;
	        transform-origin: 0 0;
}

.l_menu_button_wrapper.open .button_bar.top {
	width: 23px;
	-webkit-transform: translate(0, 0) rotate(40deg);
	        transform: translate(0, 0) rotate(40deg);
}

.l_menu_button_wrapper.open .button_bar.middle {
	opacity: 0;
}

.l_menu_button_wrapper.open .button_bar.bottom {
	width: 23px;
	-webkit-transform: translate(0, 3px) rotate(-40deg);
	        transform: translate(0, 3px) rotate(-40deg);
}

/* menu
------------------------------*/
.l_menu_container {
	position: fixed;
	z-index: 101;
	top: 0;
	width: 100%;
	font-size: 1.6rem;
	-webkit-transform: translateY(-200px);
	        transform: translateY(-200px);
	-webkit-transition-duration: .4s;
	        transition-duration: .4s;
}

.l_menu_container.open {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}

.l_menu_link {
	padding: 20px;
	display: block;
}

/*======================================
Navigation
======================================*/
/* navi
------------------------------*/
@media (min-width: 768px) {
	.site-nav_list {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

.site-nav_item + .site-nav_item {
	margin-left: 10px;
}

/*======================================
Breadcrumb
======================================*/
/*======================================
Main
======================================*/
/* Main
------------------------------*/
/* Section
------------------------------*/
.section {
	padding: 10px 0;
}

/* Content Inner
------------------------------*/
.content_inner {
	padding: 0 10px;
	width: 100%;
}

@media (min-width: 768px) {
	.content_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
	}
}

/*======================================
Sidebar
======================================*/
/*======================================
Footer
======================================*/
@media (min-width: 768px) {
	.site-footer_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
	}
}

/* Copyright
------------------------------*/
.copyright {
	display: block;
	font-size: 1rem;
}

/*======================================
Component
======================================*/
/* Headline
------------------------------*/
/* Button
------------------------------*/
/* Icon
------------------------------*/
/* List
------------------------------*/
/* Form
------------------------------*/
@media (min-width: 768px) {
	textarea {
		overflow-y: hidden;
	}
}

@media (min-width: 768px) {
	select::-ms-expand {
		display: none;
	}
}

@media (min-width: 768px) {
	.form_group fieldset {
		display: contents;
	}
}

/* Table
------------------------------*/
.table_wrap {
	overflow-x: scroll;
	width: 100%;
}

@media (min-width: 768px) {
	.table_wrap {
		overflow-x: unset;
		-ms-overflow-style: none;
	}
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.th {
	vertical-align: top;
}

/* Keyvisual
------------------------------*/
/* Media
------------------------------*/
@media (min-width: 768px) {
	.media_block {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

@media (min-width: 768px) {
	.media_block.reverse {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: row-reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
	}
}

.media_image {
	text-align: center;
}

@media (min-width: 768px) {
	.media_image img {
		width: auto;
		max-height: 100%;
	}
}

@media (min-width: 768px) {
	.media_body {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 0%;
		    -ms-flex: 1 1 0%;
		        flex: 1 1 0%;
	}
}

.media_inline {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/* Card
------------------------------*/
@media (min-width: 768px) {
	.card_list {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
}

.card_image {
	text-align: center;
}

@media (min-width: 768px) {
	.card_image img {
		width: auto;
		max-height: 100%;
	}
}

/* Box
------------------------------*/
/* Video
------------------------------*/
/* YouTube
------------------------------*/
/*======================================
Slider
======================================*/
/*======================================
Modal
======================================*/
/*======================================
WordPress post content
======================================*/
/*----- entry content -----*/
.entry-content {
	/* headline */
	/* image */
	/* text */
	/* list */
	/* link */
	/* table */
}

.entry-content ol {
	padding-left: 1em;
	list-style: decimal;
}

.entry-content ul {
	padding-left: 1em;
	list-style: disc;
}

.entry-content ul li ul {
	list-style: circle;
}

/*---- ページナビ -----*/
.page-numbers {
	margin-top: 20px;
}

.page-numbers li {
	display: inline-block;
}

.page-numbers span,
.page-numbers a {
	display: block;
	margin: 4px;
	padding: 8px 10px;
	background: #FFA74D;
	border: 1px solid #FFA74D;
	color: #fff;
	font-size: 1.4rem;
	line-height: 1;
	text-decoration: none;
}

.page-numbers span.current, .page-numbers span:hover,
.page-numbers a.current,
.page-numbers a:hover {
	color: #FFA74D;
	background: #fff;
	border-color: #FFA74D;
}

/*======================================
Others
======================================*/
/* Lead
------------------------------*/
/* Remark
------------------------------*/
/* chat
------------------------------*/
/* Page top
------------------------------*/
/* Googlemap
------------------------------*/
/* Scrollbar
------------------------------*/
/* Animation
------------------------------*/
/*======================================
Pages
======================================*/
/* index
------------------------------*/
/* pages
------------------------------*/
/* about
------------------------------*/
/* contact
------------------------------*/
/*# sourceMappingURL=sourcemaps/style.css.map */
