@charset "UTF-8";
/*======================================
Reset
======================================*/
*,
::before,
::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 1em;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust: none;
	    -ms-text-size-adjust: none;
	        text-size-adjust: none;
	color: #333;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

main {
	display: block;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	font-size: 1.6rem;
	line-height: 1.5;
}

dl {
	margin: 0;
}

dt,
dd {
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.5;
}

table {
	border-collapse: collapse;
}

th {
	vertical-align: top;
}

th,
td {
	font-size: 1.6rem;
	line-height: 1.5;
}

p {
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.5;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

a {
	color: #3af;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

input,
select,
textarea {
	font-size: 1.6rem;
}

input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="submit"],
input[type="reset"],
input[type="button"],
select,
textarea {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	border-radius: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

textarea {
	overflow-y: hidden;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
select,
button {
	cursor: pointer;
}

/*======================================
Layout
======================================*/
/* PC Only, SP Only
------------------------------*/
@media (min-width: 768px) {
	.sp_only {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.pc_only {
		display: none !important;
	}
}

/* Clearfix
------------------------------*/
.clearfix:after {
	display: block;
	clear: both;
	content: "";
}

/* Body
------------------------------*/
body.__menu_open {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}

.site_content {
	padding-top: 80px;
}

@media (min-width: 768px) {
	.site_content {
		padding-top: 0;
	}
}

.site_container {
	padding-bottom: 20px;
}

/*======================================
Header
======================================*/
/* site_header
------------------------------*/
.site_header {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	background: #FFF;
}

@media (min-width: 768px) {
	.site_header {
		position: static;
	}
}

.site_header_inner {
	padding: 10px;
}

@media (min-width: 768px) {
	.site_header_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding-left: 0;
		padding-right: 0;
	}
}

/* site_branding
------------------------------*/
.site_description {
	display: none;
}

@media (min-width: 768px) {
	.site_description {
		display: block;
	}
}

/* site_info
------------------------------*/
.site_info {
	display: none;
}

@media (min-width: 768px) {
	.site_info {
		display: block;
	}
}

.site_info_link {
	display: inline-block;
}

/*======================================
Menu
======================================*/
/* menu_bg
------------------------------*/
.menu_bg {
	display: none;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, 0.5);
}

/* menu_button
------------------------------*/
.menu_button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: fixed;
	z-index: 300;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 75px;
	height: 75px;
	background: #3af;
	border: 0;
	outline: 0;
}

.menu_button_inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 5px;
}

.menu_button_bar {
	display: block;
	width: 23px;
	height: 2px;
	background: #FFF;
	border-radius: 15px;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform-origin: 0 0;
	        transform-origin: 0 0;
}

.menu_button_bar + .menu_button_bar {
	margin-top: 6px;
}

.menu_button_text {
	margin-top: 10px;
	color: #3af;
	color: #FFF;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1;
	-webkit-transition: all .3s;
	transition: all .3s;
}

body.__menu_open .menu_button_bar.__top {
	width: 36px;
	-webkit-transform: translate(8px, 5px) rotate(45deg);
	        transform: translate(8px, 5px) rotate(45deg);
}

body.__menu_open .menu_button_bar.__middle {
	opacity: 0;
}

body.__menu_open .menu_button_bar.__bottom {
	width: 36px;
	-webkit-transform: translate(7px, 14px) rotate(-45deg);
	        transform: translate(7px, 14px) rotate(-45deg);
}

body.__menu_open .menu_button_text {
	opacity: 0;
}

/*======================================
Navigation
======================================*/
/* site_nav
------------------------------*/
.site_nav {
	overflow-y: scroll;
	position: fixed;
	top: 75px;
	left: 0;
	width: 100%;
	height: calc(100% - 75px);
	background: #fa0;
	opacity: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
	pointer-events: none;
}

@media (min-width: 768px) {
	.site_nav {
		overflow-y: visible;
		position: static;
		background: none;
		width: auto;
		height: auto;
		font-size: 2.2rem;
		opacity: 1;
		pointer-events: all;
	}
}

body.__menu_open .site_nav {
	z-index: 200;
	opacity: 1;
	pointer-events: all;
}

.site_nav_inner {
	padding: 10px;
}

@media (min-width: 768px) {
	.site_nav_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 768px) {
	.site_nav_list {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

.site_nav_item {
	margin-top: 10px;
}

@media (min-width: 768px) {
	.site_nav_item {
		margin-top: 0;
	}
}

.site_nav_link {
	display: inline-block;
}

@media (min-width: 768px) {
	.site_nav_sub_list {
		display: none;
	}
}

.site_nav_sub_link {
	display: inline-block;
}

/*======================================
Breadcrumb
======================================*/
/* breadcrumb
------------------------------*/
.bread_inner {
	padding: 10px;
}

@media (min-width: 768px) {
	.bread_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding-left: 0;
		padding-right: 0;
	}
}

.bread_list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/*======================================
Main
======================================*/
/* Main
------------------------------*/
/* wide_inner
------------------------------*/
@media (min-width: 768px) {
	.wide_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 1280px;
	}
}

/* section
------------------------------*/
.section {
	padding: 10px 0;
}

/* content_inner
------------------------------*/
.content_inner {
	padding: 0 10px;
	width: 100%;
}

@media (min-width: 768px) {
	.content_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding-left: 0;
		padding-right: 0;
	}
}

/*======================================
Sidebar
======================================*/
/* sidebar
------------------------------*/
.sidebar {
	padding: 10px;
}

@media (min-width: 768px) {
	.sidebar {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding-left: 0;
		padding-right: 0;
	}
}

.sidebar_link {
	display: inline-block;
}

/*======================================
Footer
======================================*/
/* site_footer
------------------------------*/
.site_footer_inner {
	padding: 10px;
}

@media (min-width: 768px) {
	.site_footer_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		padding-left: 0;
		padding-right: 0;
	}
}

/* footer_nav
------------------------------*/
.footer_nav_link {
	display: inline-block;
}

/* Copyright
------------------------------*/
.copyright {
	display: block;
	font-size: 1rem;
}

/*======================================
Quick Access
======================================*/
/* quick_access
------------------------------*/
/*======================================
Page Top
======================================*/
/* pagetop
------------------------------*/
#pagetop {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 50px;
	z-index: 100;
}

/*======================================
Background
======================================*/
/* bg
------------------------------*/
/*======================================
Heading
======================================*/
/* headling base
------------------------------*/
h1 {
	margin: 5px 0;
	font-size: 3.6rem;
}

h2 {
	margin: 5px 0;
	font-size: 2.8rem;
}

h3 {
	margin: 5px 0;
	font-size: 2.4rem;
}

h4, h5, h6 {
	margin: 5px 0;
	font-size: 2rem;
}

/* page_head
------------------------------*/
.page_head.__page_about {
	background-image: url("/wp/wp-content/themes/tokinosasae/assets/img/about/about_head_sp.jpg");
}

@media (min-width: 768px) {
	.page_head.__page_about {
		background-image: url("/wp/wp-content/themes/tokinosasae/assets/img/about/about_head_pc.jpg");
	}
}

.page_head.__page_contact {
	background-image: url("/wp/wp-content/themes/tokinosasae/assets/img/contact/contact_head_sp.jpg");
}

@media (min-width: 768px) {
	.page_head.__page_contact {
		background-image: url("/wp/wp-content/themes/tokinosasae/assets/img/contact/contact_head_pc.jpg");
	}
}

.page_head.__page_news {
	background-image: url("/wp/wp-content/themes/tokinosasae/assets/img/news/news_head_sp.jpg");
}

@media (min-width: 768px) {
	.page_head.__page_news {
		background-image: url("/wp/wp-content/themes/tokinosasae/assets/img/news/news_head_pc.jpg");
	}
}

/* single_page_headline
------------------------------*/
/* primary_headline
------------------------------*/
/* secondary_headline
------------------------------*/
/* basic_headline
------------------------------*/
/* normally_headline
------------------------------*/
/* sction_headline
------------------------------*/
/* big_headline
------------------------------*/
/* small_headline
------------------------------*/
/*======================================
Icon
======================================*/
/* icon
------------------------------*/
/* icon_arrow
------------------------------*/
.icon_arrow {
	display: inline-block;
	position: relative;
}

.icon_arrow::before, .icon_arrow::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: -5px;
	width: 8px;
	height: 2px;
	background: #000;
	border-radius: 4px;
	-webkit-transform-origin: left top;
	        transform-origin: left top;
}

.icon_arrow::before {
	-webkit-transform: rotate(-140deg);
	        transform: rotate(-140deg);
}

.icon_arrow::after {
	-webkit-transform: rotate(-220deg);
	        transform: rotate(-220deg);
}

.icon_arrow._circle {
	padding: 5px;
	width: 15px;
	height: 15px;
	background: #f3f;
	border-radius: 50%;
}

.icon_arrow._circle::before, .icon_arrow._circle::after {
	background: #FFF;
}

/* badge
------------------------------*/
/*======================================
List
======================================*/
/* list
------------------------------*/
.list_link {
	display: inline-block;
}

/*======================================
Button
======================================*/
/* button
------------------------------*/
/* back_button
------------------------------*/
/*======================================
Table
======================================*/
/*======================================
Form
======================================*/
/* form
------------------------------*/
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea {
	padding: 5px;
	border: 1px solid #9FA0A0;
}

/* form_group_container
------------------------------*/
/* form_group
------------------------------*/
@media (min-width: 768px) {
	.form_group fieldset {
		display: contents;
	}
}

/* form_control
------------------------------*/
.form_control_select {
	background: transparent;
}

/* form_check
------------------------------*/
/* wpcf7
------------------------------*/
/* form_required
------------------------------*/
.form_required {
	color: #F00;
}

@media (min-width: 768px) {
	.form_required {
		font-size: 1.6rem;
	}
}

/* err message
------------------------------*/
/*======================================
Key Visual
======================================*/
/*======================================
Lead
======================================*/
/* lead
------------------------------*/
/*======================================
Media
======================================*/
@media (min-width: 768px) {
	.media_block {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

@media (min-width: 768px) {
	.media_block.reverse {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: row-reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
	}
}

.media_image {
	text-align: center;
}

@media (min-width: 768px) {
	.media_image img {
		width: auto;
		max-height: 100%;
	}
}

@media (min-width: 768px) {
	.media_body {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 0%;
		    -ms-flex: 1 1 0%;
		        flex: 1 1 0%;
	}
}

.media_inline {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/*======================================
Card
======================================*/
@media (min-width: 768px) {
	.card_list {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
}

.card_image {
	text-align: center;
}

@media (min-width: 768px) {
	.card_image img {
		width: auto;
		max-height: 100%;
	}
}

/*======================================
Box
======================================*/
/*======================================
iframe
======================================*/
/* YouTube
------------------------------*/
/* Googlemap
------------------------------*/
/*======================================
Modal
======================================*/
/*======================================
WordPress Post Entry
======================================*/
/*----- entry content -----*/
.entry_content {
	/* headline */
	/* image */
	/* text */
	/* list */
	/* link */
	/* table */
}

.entry_content ol {
	padding-left: 1em;
	list-style: decimal;
}

.entry_content ul {
	padding-left: 1em;
	list-style: disc;
}

.entry_content ul li ul {
	list-style: circle;
}

/*---- page navi -----*/
.page-numbers {
	margin-top: 20px;
}

.page-numbers li {
	display: inline-block;
}

.page-numbers span,
.page-numbers a {
	display: block;
	margin: 4px;
	padding: 8px 10px;
	background: #FFA74D;
	border: 1px solid #FFA74D;
	color: #fff;
	font-size: 1.4rem;
	line-height: 1;
	text-decoration: none;
}

.page-numbers span.current, .page-numbers span:hover,
.page-numbers a.current,
.page-numbers a:hover {
	color: #FFA74D;
	background: #fff;
	border-color: #FFA74D;
}

/*======================================
Others
======================================*/
/* chat
------------------------------*/
/*======================================
Slider
======================================*/
/*======================================
Scrollbar
======================================*/
/* Scrollbar
------------------------------*/
/* Animation
------------------------------*/
/*======================================
Pages
======================================*/
/* home
------------------------------*/
/* about
------------------------------*/
/* contact
------------------------------*/
/*# sourceMappingURL=sourcemaps/style.css.map */
