@charset "UTF-8";

/* Body
------------------------------*/
body {
	@media (min-width: #{$BREAKPOINT}) {
	}
	&.menu_open {
		// overflow: hidden;
		@media (min-width: #{$BREAKPOINT}) {
		}
	}
}

.site {
	// position: relative;
	// overflow: hidden;
	@media (min-width: #{$BREAKPOINT}) {
		// min-width: $CONTENT_WIDTH;
	}
}

.site-content {
	// font-size: $FONT_SIZE_SP;
	@media (min-width: #{$BREAKPOINT}) {
		@include content_inner();
		// @include flex();
		// font-size: $FONT_SIZE;
	}
}

.sidebar {
	@media (min-width: #{$BREAKPOINT}) {
		// flex: 1 1 0%;
		// width: 250px;
	}
}


/* Only PC, Only SP
------------------------------*/
.only_pc {
	@media (max-width: #{$MAX_BREAKPOINT}) {
		display: none !important;
	}
}
.only_sp {
	@media (min-width: #{$BREAKPOINT}) {
		display: none !important;
	}
}


/* Utility
------------------------------*/
.mt0 {
	margin-top: 0 !important;
}
.ml0 {
	margin-left: 0 !important;
}
.mr0 {
	margin-right: 0 !important;
}
.mb0 {
	margin-bottom: 0 !important;
}
.pt0 {
	padding-top: 0 !important;
}
.pl0 {
	padding-left: 0 !important;
}
.pr0 {
	padding-right: 0 !important;
}
.pb0 {
	padding-bottom: 0 !important;
}
