@charset "UTF-8";

/* PC Only, SP Only
------------------------------*/
.sp_only {
	@media (min-width: #{$breakpoint}) {
		display: none !important;
	}
}

.pc_only {
	@media (max-width: #{$breakpoint_sp}) {
		display: none !important;
	}
}


/* Clearfix
------------------------------*/
.clearfix:after {
	@include clearfix();
}


/* Body
------------------------------*/
body {
	@media (min-width: #{$breakpoint}) {
		// min-width: $content_width;
	}
	&.-menu_open {
		overflow: hidden;
		position: fixed;
		width: 100%;
		height: 100%;
 		@media (min-width: #{$breakpoint}) {
		}
	}
}

.site {
	@media (min-width: #{$breakpoint}) {
	}
}

.site_content {
	padding-top: 50px;
	@media (min-width: #{$breakpoint}) {
		padding-top: 0;
		@include content_inner();
	}
}

.site_container {
	padding: 20px 0;
	@media (min-width: #{$breakpoint}) {
	}
	&.-row {
		@media (min-width: #{$breakpoint}) {
			@include flex();
		}
		.site_main {
			@media (min-width: #{$breakpoint}) {
				width: calc(100% - #{$sidebar_width});
			}
		}
		.sidebar {
			@media (min-width: #{$breakpoint}) {
				width: $sidebar_width;
			}
		}
	}
}

main {
	color: $font_color;
	font-family: $font;
	font-size: $font_size_sp;
	line-height: $line_height;
	@media (min-width: #{$breakpoint}) {
		font-size: $font_size;
	}
}
