@charset "UTF-8";

/* menu_bg
------------------------------*/
.menu_bg {
	display: none;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, .5);
	@media (min-width: #{$BREAKPOINT}) {
	}
}


/* menu_button
------------------------------*/
.menu_button {
	@include flex_center();
	position: fixed;
	z-index: 300;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 75px;
	height: 75px;
	background: #3af;
	border: 0;
	outline: 0;
}

.menu_button_inner {
	@include flex_direction();
	padding-top: 5px;
}

.menu_button_bar {
	display: block;
	width: 23px;
	height: 2px;
	background: #FFF;
	border-radius: 15px;
	transition: all .3s;
	transform-origin: 0 0;
	& + .menu_button_bar {
		margin-top: 6px;
	}
}

.menu_button_text {
	margin-top: 10px;
	color: $LINK_COLOR;
	@include text(#FFF, 1.2rem, bold, 1);
	transition: all .3s;
}

body.__menu_open {
	.menu_button_bar.__top {
		width: 36px;
		transform: translate(8px, 5px) rotate(45deg);
	}
	.menu_button_bar.__middle {
		opacity: 0;
	}
	.menu_button_bar.__bottom {
		width: 36px;
		transform: translate(7px, 14px) rotate(-45deg);
	}
	.menu_button_text {
		opacity: 0;
	}
}
