@charset "UTF-8";

/* menu_bg
------------------------------*/
.menu_bg {
	display: none;
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(50, 50, 50, .5);
	@media (min-width: #{$breakpoint}) {
	}
}


/* menu_button
------------------------------*/
.menu_button {
	@include flex_center();
	position: fixed;
	z-index: 300;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background-color: #3af;
}

.menu_button__inner {
	@include flex_direction();
}

.menu_button__bar {
	display: block;
	margin-top: 5px;
	width: 24px;
	height: 2px;
	background: #FFF;
	border-radius: 20px;
	transition: all .3s;
	transform-origin: 0 0;
	&:first-child {
		margin-top: 14px;
	}
}

.menu_button__text {
	margin-top: 5px;
	color: #FFF;
	font-size: 1rem;
	transition: all .3s;
}

body.-menu_open {
	.menu_button__bar {
		&.-top {
			width: 30px;
			transform: translate(6px, 3px) rotate(45deg);
		}
		&.-middle {
			opacity: 0;
		}
		&.-bottom {
			width: 30px;
			transform: translate(5px, 10px) rotate(-45deg);
		}
	}
	.menu_button__text {
		opacity: 0;
	}
}
