@charset "UTF-8";

/* site_nav
------------------------------*/
.site_nav {
	overflow-y: scroll;
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	background-color: #fa0;
	opacity: 0;
	transition: all .3s;
	pointer-events: none;
	@media (min-width: #{$breakpoint}) {
		overflow-y: visible;
		position: static;
		background-color: transparent;
		width: auto;
		height: auto;
		opacity: 1;
		pointer-events: all;
	}

	ol, ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	body.-menu_open & {
		z-index: 200;
		opacity: 1;
		pointer-events: all;
	}
}

.site_nav__inner {
	padding: 10px;
	@media (min-width: #{$breakpoint}) {
		@include content_inner();
		padding: 0;
	}
}

.site_nav__list {
	@media (min-width: #{$breakpoint}) {
		@include flex();
	}
}

.site_nav__item {
	margin-top: 10px;
	@media (min-width: #{$breakpoint}) {
		margin-top: 0;
		flex-grow: 1;
		transition: all .3s;
	}
	&:first-child {
		@media (min-width: #{$breakpoint}) {
			margin-top: 0;
		}
	}
	&.-current,
	&:hover {
		@media (min-width: #{$breakpoint}) {
			background-color: $link_color;
		}
	}
}

.site_nav__link {
	@include font_size();
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	@media (min-width: #{$breakpoint}) {
		display: block;
		text-align: center;
	}
	.site_nav__item.-current &,
	.site_nav__item:hover & {
		@media (min-width: #{$breakpoint}) {
			color: #FFF;
		}
	}
}


// site_nav_sub_list
.site_nav__sub_list {
	@media (min-width: #{$breakpoint}) {
		display: none;
	}
}

.site_nav__sub_item {
	@media (min-width: #{$breakpoint}) {
	}
}

.site_nav__sub_link {
	@include font_size();
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	@media (min-width: #{$breakpoint}) {
	}
}
