@charset "UTF-8";

/* breadcrumb
------------------------------*/
.bread {
	@media (min-width: #{$breakpoint}) {
	}
}

.bread_inner {
	padding: 10px;
	@media (min-width: #{$breakpoint}) {
		@include content_inner();
		padding-left: 0;
		padding-right: 0;
	}
}

.bread_list {
	margin: 0;
	padding: 0;
	list-style: none;
	@media (min-width: #{$breakpoint}) {
	}
}

.bread_item {
	display: inline-block;
	@media (min-width: #{$breakpoint}) {
	}
	&:first-child {
		@media (min-width: #{$breakpoint}) {
		}
	}
	&:hover {
		@media (min-width: #{$breakpoint}) {
		}
	}
}

.bread_link,
.bread_text {
	@include font_size();
	@media (min-width: #{$breakpoint}) {
	}
}

.bread_link {
	@media (min-width: #{$breakpoint}) {
	}
	&:hover {
		@media (min-width: #{$breakpoint}) {
		}
	}
}

.bread_text {
	@media (min-width: #{$breakpoint}) {
	}
}
