@charset "UTF-8";

/* breadcrumb
------------------------------*/
.bread {
	background-color: #ddd;
	@media (min-width: #{$breakpoint}) {
	}
}

.bread__inner {
	padding: 10px;
	background-color: #FFF;
	@media (min-width: #{$breakpoint}) {
		@include content_inner();
		padding-left: 0;
		padding-right: 0;
	}
}

.bread__list {
	margin: 0;
	padding: 0;
	list-style: none;
	@media (min-width: #{$breakpoint}) {
	}
}

.bread__item {
	display: inline-block;
	@media (min-width: #{$breakpoint}) {
	}
	&:first-child {
		@media (min-width: #{$breakpoint}) {
		}
	}
	&:hover {
		@media (min-width: #{$breakpoint}) {
		}
	}
}

.bread__link,
.bread__text {
	@include font_size();
	@media (min-width: #{$breakpoint}) {
	}
}

.bread__link {
	@media (min-width: #{$breakpoint}) {
	}
	&:hover {
		@media (min-width: #{$breakpoint}) {
		}
	}
}

.bread__text {
	@media (min-width: #{$breakpoint}) {
	}
}
