@charset "UTF-8";

/* Main
------------------------------*/
.site_main {
	@media (min-width: #{$breakpoint}) {
	}
}


/* wide_inner
------------------------------*/
.wide_inner {
	@media (min-width: #{$breakpoint}) {
		@include wide_inner();
	}
}


/* section
------------------------------*/
.section {
	padding: 10px 0;
	@media (min-width: #{$breakpoint}) {
	}
}


/* content_inner
------------------------------*/
.content_inner {
	padding: 0 10px;
	width: 100%;
	@media (min-width: #{$breakpoint}) {
		@include content_inner();
		padding-left: 0;
		padding-right: 0;
	}
}
