@charset "UTF-8";

/* sidebar
------------------------------*/
.sidebar {
	@media (min-width: #{$breakpoint}) {
		@include content_inner();
		padding-left: 0;
		padding-right: 0;
	}
}

.sidebar__inner {
	padding: 10px;
	@media (min-width: #{$breakpoint}) {
	}
}

.sidebar__headline {
	@media (min-width: #{$breakpoint}) {
	}
}

.sidebar__list {
	margin: 0;
	padding: 0;
	list-style: none;
	@media (min-width: #{$breakpoint}) {
	}
}

.sidebar__item {
	@media (min-width: #{$breakpoint}) {
	}
	&:first-child {
		@media (min-width: #{$breakpoint}) {
		}
	}
}

.sidebar__link {
	display: inline-block;
	@include font_size();
	@media (min-width: #{$breakpoint}) {
	}
}
