@charset "UTF-8";

/* site_footer
------------------------------*/
.site_footer {
	@media (min-width: #{$BREAKPOINT}) {
	}
}

.site_footer_inner {
	padding: 10px;
	@media (min-width: #{$BREAKPOINT}) {
		@include content_inner();
		padding-left: 0;
		padding-right: 0;
	}
}


/* footer_nav
------------------------------*/
.footer_nav {
	@media (min-width: #{$BREAKPOINT}) {
	}
}

.footer_nav_list {
	@media (min-width: #{$BREAKPOINT}) {
	}
	&:nth-child(1) {
		@media (min-width: #{$BREAKPOINT}) {
		}
	}
}

.footer_nav_item {
	@media (min-width: #{$BREAKPOINT}) {
	}
}

.footer_nav_link {
	display: inline-block;
	@media (min-width: #{$BREAKPOINT}) {
	}
}


/* Copyright
------------------------------*/
.copyright {
	display: block;
	font-size: 1rem;
	@media (min-width: #{$BREAKPOINT}) {
	}
}
