@charset "UTF-8";

/* site_footer
------------------------------*/
.site_footer {
	@media (min-width: #{$breakpoint}) {
	}
}

.site_footer__inner {
	padding: 10px;
	@media (min-width: #{$breakpoint}) {
		@include content_inner();
		padding-left: 0;
		padding-right: 0;
	}
}


/* footer_nav
------------------------------*/
.footer_nav {
	@media (min-width: #{$breakpoint}) {
	}
}

.footer_nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	@media (min-width: #{$breakpoint}) {
	}
	&:nth-child(1) {
		@media (min-width: #{$breakpoint}) {
		}
	}
}

.footer_nav__item {
	@media (min-width: #{$breakpoint}) {
	}
}

.footer_nav__link {
	display: inline-block;
	@include font_size();
	@media (min-width: #{$breakpoint}) {
	}
}


/* Copyright
------------------------------*/
.copyright {
	display: block;
	padding: 10px 0;
	font-size: 1rem;
	@media (min-width: #{$breakpoint}) {
	}
}
