@charset "UTF-8";

/* quick_access
------------------------------*/
.quick_access {
	// position: fixed;
	// bottom: 0;
	// width: 100%;
	@media (min-width: #{$breakpoint}) {
		// position: static;
	}
}

.quick_access__inner {
	@media (min-width: #{$breakpoint}) {
	}
}

.quick_access__list {
	@media (min-width: #{$breakpoint}) {
	}
}

.quick_access__item {
	@media (min-width: #{$breakpoint}) {
	}
	&:hover {
		@media (min-width: #{$breakpoint}) {
		}
	}
}

.quick_access__link {
	@media (min-width: #{$breakpoint}) {
	}
}
