@charset "UTF-8";

/* pagetop
------------------------------*/
.pagetop_wrap {
	position: fixed;
	right: 0;
	bottom: 0;
	@media (min-width: #{$breakpoint}) {
	}
}

#pagetop {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #fa3;
	transition: all .3s;
	@media (min-width: #{$breakpoint}) {
	}
	&:hover {
		@media (min-width: #{$breakpoint}) {
			opacity: .8;
		}
	}
}
