@charset "UTF-8";

/* pagetop
------------------------------*/
#pagetop {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 50px;
	z-index: 100;
	@media (min-width: #{$breakpoint}) {
	}
}

.pagetop_button {
	display: block;
	@media (min-width: #{$breakpoint}) {
	}
}
