@charset "UTF-8";

.card_list {
	@media (min-width: #{$BREAKPOINT}) {
		@include flex_wrap();
	}
	// &::after {
	// 	@media (min-width: #{$BREAKPOINT}) {
	// 		width: 48%;
	// 		display: block;
	// 		content: '';
	// 	}
	// }
}

.card_item {
	// box-shadow: 0 0 12px 0px rgba(0,0,0,.4);
	@media (min-width: #{$BREAKPOINT}) {
		// @include flex_width(30px, 4);
	}
	&:nth-child(-n+2) {
		@media (min-width: #{$BREAKPOINT}) {
		}
	}
	&:nth-child(2n+1) {
		@media (min-width: #{$BREAKPOINT}) {
		}
	}
}

.card_link {
	@media (min-width: #{$BREAKPOINT}) {
	}
}

.card_date {
	@media (min-width: #{$BREAKPOINT}) {
	}
}

.card_title {
	@media (min-width: #{$BREAKPOINT}) {
	}
}

.card_image {
	text-align: center;
	@media (min-width: #{$BREAKPOINT}) {
	}
	img {
		@media (min-width: #{$BREAKPOINT}) {
			width: auto;
			max-height: 100%;
		}
	}
}

.card_body {
	@media (min-width: #{$BREAKPOINT}) {
	}
}

.card_text {
	@media (min-width: #{$BREAKPOINT}) {
	}
}
